<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Afegir usuari</title>
    
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!--function afegirUser() {-->
   <!-- <script>
        $.getJSON("http://localhost:155", function(datos) {
            var items = [];
            $.each(data, function (key, val) {
                items.push("<li id = '" + key + "'>" + val + "</li>");
            });
            $("<ul/>",{
                "class":"Nueva-lista", html:items.join( "" )
            }).appendTo("body");
        });
            //    $("#Nom").text(datos.name);
            //    $("#Cognom").text(datos.lastname);
            //    $("#DNI").text(datos.DNI);
            //    $("#Edat").text(datos.age);
            //    $("#Sexe").text(datos.gender);
            //    $("#Password").text(datos.password);
            //});
    </script>-->
    <script>
        $.fn.formToJSON = function () {
            var objectGraph = {};
            function add(objectGraph, name, value) {
                if (name.length == 1) {
                    //if the array is now one element long, we're done
                    objectGraph[name[0]] = value;
                }
                else {
                    //else we've still got more than a single element of depth
                    if (objectGraph[name[0]] == null) {
                        //create the node if it doesn't yet exist
                        objectGraph[name[0]] = {};
                    }
                    //recurse, chopping off the first array element
                    add(objectGraph[name[0]], name.slice(1), value);
                }
            };
            //loop through all of the input/textarea elements of the form
            //this.find('input, textarea').each(function() {
            $(this).children('input, textarea').each(function () {
                //ignore the submit button
                if ($(this).attr('name') != 'submit') {
                    //split the dot notated names into arrays and pass along with the value
                    add(objectGraph, $(this).attr('name').split('.'), $(this).val());
                }
            });
            return JSON.stringify(objectGraph);
        };
        $.ajaxSetup({
            contentType: "application/json;charset=utf-8",
            dataType: "json"
        });
        $(function () { //Hacer que sea un submit en vez de mostrarse en la misma web           
            $("#send").click(function () {                
                var send = $(".fmrRegister").formToJSON();
                $("#result").text(send);//Muestra en la web el JSON a enviar                

                $.ajax({
                    url: "http://localhost:155/User/AddUser",
                    type: "POST",
                    data: send,
                    dataType: 'json',
                    success: function (responseData) {
                        for (var key in responseData) {
                            $("#Afegit").show();
                            $("#result").text("DNI:" + responseData[key]);
                        }                        
                    },
                    error: function(){
                        $("#Error").show();
                        $("#result").text("DNI:" + responseData[key]);
                    }
                });
                return false;
            });
        });        
    </script>
</head>
    <body>              
        <form class ="fmrRegister" action="{{ url_for('AddUser') }}" method="post">
        <p id="Name">Nom:<input type="text" name="Name" maxlength="12" size="12"/></p>
        <p id="Lastname">Cognom:<input type="text" name="LastName" maxlength="36" size="12"/></p>
        <p id="Gender">Gender:<br/>
        <div id=" opcion">Male:<input type="radio" name="Gender" value="Male"/><br/>
        Female:<input type="radio" name="Gender" value="Female"/></div></p>
        <p id="DNI">DNI:<input type="text" name="DNI" /></p>
        <p id="Age">Edat:<input type="text" name="Age"/></p>
        <p id="Pass">Password:<input type="password" name="Password"/></p>
        <input id="send" type="submit" name="Submit" />
        </form>
        <!-- Para mostrar el JSON a enviar -->
        <h2 id="Afegit" hidden="hidden">Registrat</h2> 
        <h2 id ="Error" hidden ="hidden">Error al registrar</h2>
        <pre id="result"></pre>
</body>
</html>