<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Afegir usuari</title>
    
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!--function afegirUser() {-->
   <!-- <script>
        $.getJSON("http://localhost:155", function(datos) {
            var items = [];
            $.each(data, function (key, val) {
                items.push("<li id = '" + key + "'>" + val + "</li>");
            });
            $("<ul/>",{
                "class":"Nueva-lista", html:items.join( "" )
            }).appendTo("body");
        });
            //    $("#Nom").text(datos.name);
            //    $("#Cognom").text(datos.lastname);
            //    $("#DNI").text(datos.DNI);
            //    $("#Edat").text(datos.age);
            //    $("#Sexe").text(datos.gender);
            //    $("#Password").text(datos.password);
            //});
    </script>-->
    <script>
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(function () { //Hacer que sea un submit en vez de mostrarse en la misma web
            $(".fmrRegister").submit(function () {                
                $("#result").text((JSON.stringify($(".fmrRegister").serializeObject())));
                return false;
            });
        });
    </script>
</head>
    <body>        
       <!-- <form class ="fmrRegister" action="{{ url_for('AddUser') }}" method="post">
	    <dl>
            <dt>Nom:</dt> 
            <dd><input id="Name" type="text"/></dd>            
            <dt>Cognom:</dt>
            <dd><input id="LastName" type="text" /></dd>
            <dt>DNI:</dt>
            <dd><input id="DNI" type="text" /></dd>
            <dt>Edat:</dt>
            <dd><input id="Age" type="text" /></dd>
            <dt>Sexe:</dt>
            <dd><input id="Gender" type="text" /></dd>
            <dt>Password:</dt>
            <dd><input id="Password" type="password" /></dd>
            <dd><p><input id="button" type="submit" value ="Submit"/></p></dd><!--onclick ="SendValor()"
	    </dl>  
        </form>
        <h2>JSON</h2>
        <pre id="result"></pre> -->        
        <form class ="fmrRegister" action="{{ url_for('AddUser') }}" method="post">
        Nom:<input type="text" name="Fname" maxlength="12" size="12"/> <br/>
        Cognom:<input type="text" name="Lname" maxlength="36" size="12"/> <br/>
        Gender:<br/>
        Male:<input type="radio" name="gender" value="Male"/><br/>
        Female:<input type="radio" name="gender" value="Female"/><br/>
        DNI:<input type="text" name="DNI" /><br/>
        Edat:<input type="text" name="Age"/><br/>
        Password:<input type="password" name="password"/><br/>
        <p><input type="submit" /></p>
        </form>
        <h2>JSON</h2>
        <pre id="result">
        </pre>
</body>
</html>