<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Busqueda de dades</title>
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
        $.fn.formToJSON = function () {
            var objectGraph = {};
            function add(objectGraph, name, value) {
                if (name.length == 1) {
                    //if the array is now one element long, we're done
                    objectGraph[name[0]] = value;
                }
                else {
                    //else we've still got more than a single element of depth
                    if (objectGraph[name[0]] == null) {
                        //create the node if it doesn't yet exist
                        objectGraph[name[0]] = {};
                    }
                    //recurse, chopping off the first array element
                    add(objectGraph[name[0]], name.slice(1), value);
                }
            };
            //loop through all of the input/textarea elements of the form
            //this.find('input, textarea').each(function() {
            $(this).children('input, textarea').each(function () {
                //ignore the submit button
                if ($(this).attr('name') != 'submit') {
                    //split the dot notated names into arrays and pass along with the value
                    add(objectGraph, $(this).attr('name').split('.'), $(this).val());
                }
            });
            return JSON.stringify(objectGraph);
        };

        $(function () {
            $("#button").submit(function () {
                var send = $(".fmrRegister").formToJSON();

                $.ajax({
                    url: "http://localhost:155/User/GetFile",
                    type: "GET",
                    data: send,
                    dataType: 'json',
                    success: function (responseData) {
                        for (var key in responseData) {
                            $("#Dades").show();
                            $("Downbutton").show();
                            $("#result").text("DNI:" + responseData[key]);
                        }                        
                    },
                    error: function(){
                        $("#Error").show();
                        $("#result").text("DNI:" + responseData[key]);
                    }
                });
                return false;
            });
        });
    </script>

</head>
<body>
    <form id ="fmrSearch" action="{{ url_for('GetFile') }}" method = "get">
        Buscar DNI:<input id ="DNI " type="text" name="dni"/><br/>
        Data <br/>desde:<input id ="DataInici" type="text"/><br/>
        fins:<input id ="DataFinal" type="text"/><br/>
        <input id="button" type ="submit" value ="Submit"/><br />
        <h2 id="Dades" hidden="hidden">Info Usuari</h2> 
        <h2 id ="Error" hidden ="hidden">Error al obtenir la informacio</h2>
        <pre id="result"></pre>        
        <a id="Downbutton" href="\download\dades.txt" download="Dades.txt">Download</a>        
    </form>    
</body>
</html>